@import "tailwindcss";

/* Custom styles */
body {
  font-family: "Inter", sans-serif;
  background-color: #f8fafc;
}

/* Custom scrollbar for Kanban */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
